{{!-- search --}}
<!-- TOP ROW BUTTON -->
<div class="row">
  <!-- Side Nav Button -->
  <a href="#" data-target="slide-out" class="sidenav-trigger waves-effect waves-light findbtn btn-large white-text">
    <i class="material-icons left">menu</i>Menu
  </a>
  <!-- Logout Button -->
  <a class="waves-effect waves-light btn modal-trigger findbtn btn-large right" href="/auth/logout">
    <i class="material-icons left">login</i>LOGOUT
  </a>
</div>

<!-- SECONDARY FUNCTION STRUCTURE START HERE -->

<!-- Side Nav Structure -->
<ul id="slide-out" class="sidenav">
  <li>
    <div class="user-view">
      <div class="background">
        <img src="https://images.unsplash.com/photo-1495195134817-aeb325a55b65?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1355&q=80">
      </div>
      <!-- User Detail after login -->
      <!-- CAUTION!!! PLACE HOLDER CONTAINED!!!! -->
      <a href="#user"><img class="circle" id="user-icon" src="{{avatar}}"></a>
      <a href="#name"><span class="white-text name" id="user-name" data-id="{{id}}">{{displayName}}</span></a>
    </div>
  </li>
  <li><a class="subheader">GET RECIPE~</a></li>
  <li><a href="/member"><i class="material-icons">search</i>Search Recipe</a></li>  
</ul>

<!-- Search Template -->
<div class="container landing-page">
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <h1 class="center white-text" data-id="{{dataValues.googleId}}">My Recipes</h1>
      <div class="row center">
        <ul>
        </ul>
      </div>
    </div>
  </div>
</div>


<ul class="collapsible results">
  {{#each dbRecipe}}
  <li>
    <div class="collapsible-header blue-grey lighten-1 row valign-wrapper" data-id="{{dataValues.id}}">
      <div class="col s12 m2"><img class="food-img" src="{{dataValues.imageUrl}}" alt=""></div>
      <div class="col s12 m9">
        <h4 class="title">{{dataValues.title}}</h4>
        <div class="details">
          {{#if dataValues.cuisine}}
          <h6><i class="fas fa-utensils"></i><span class="cuisine">{{dataValues.cuisine}}</span></h6>
          {{/if}}
          {{#if dataValues.vegetarian}}
          <h6 class="vegetarian"><i class="fas fa-carrot"></i>Vegetarian</h6>
          {{/if}}
          {{#if dataValues.time}}
          <h6 class="this.time"><i class="fas fa-clock"></i></i>{{dataValues.time}} minutes</h6>
          {{/if}}
        </div>
      </div>
      <div class="col s12 m1 save-box">
        <a class="waves-effect waves-light btn modal-trigger delete" href="#modal1">Delete</a>

      </div>
    </div>
    <div class="collapsible-body grey blue-grey lighten-5">
      <div class="row summary-row">
        <span class="summary">{{dataValues.summary}}</span>
      </div>      
      <div class="row comments-row">
        <h4>Comments</h4>
        <textarea name="comments{{@index}}" class="comment" placeholder="Add any comments here..."></textarea>
        <button class="btn waves-effect waves-light comment-save">Save</button>
      </div>
    </div>
  </li>
  {{/each}}
</ul>
{{#unless dbRecipe}}
<h1 class="no-recipes">You do not have any saved recipes</h1>
{{/unless}}
<div id="modal1" class="modal">
    <div class="modal-content">
      <h4 class="modal-title"></h4><br>
      <p>Are you sure you wish to delete this recipe from your dashboard?</p>
      
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat red destroy">Delete</a>
    </div>
  </div>